
.category {
    display: flex;
    margin: 3rem 0;
    width: 100%;
    height: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.category__banner {
    margin: 10px 0;
    width: 100%;
    height: 200px;
    cursor: pointer;
    background-color: black;
}

.category__title {
    color: #a88989;
    margin: 0 1rem;
    font-size: 1.2rem;
}

.category__subtitle {
    color: white;
    margin: 0 1rem;
    font-size: 0.8rem;
}