.products {
    display: grid;
    gap: 1rem;
    margin: 1rem;
    grid-template-columns: repeat(2, 1fr);
}

.category__name {
    display: block;
    margin-top: 1rem;
}

.category__title {
    margin: 1rem;
    font-size: 1.2rem;
}

.category__subtitle {
    margin: 0 1rem;
    font-size: 0.8rem;
}