.form_container {
    width: 90%;
    height: 500px;
    display: flex;
    margin: 100px auto;
    flex-direction: column;
    text-align: center;
    
}

.acces_form {
    display: flex;
    margin:1rem auto;
    flex-direction: column;
    width: 60%;
    gap: 2rem;
    padding: 1rem;
}