@media screen and (min-width: 600px) {
    #home{
        height: 500px;
    }

    /*PRODUCTS*/
    .products {
        grid-template-columns: repeat(3, 1fr);
    }

    .product {
        height: 90%;
    }

    .product__img_container{
        margin-bottom: 10%;
        width: 100%;
        height: 60%;
    }


    .product__img {
        height: 100%;
    }
    
      
}


@media screen and (min-width: 800px) {

    .products {
        grid-template-columns:repeat(6, 1fr);
    }

    .product__img {
        height: 70%;
        width: 100%;
    }
}

@media screen and (max-width: 400px) {
    .products {
        grid-template-columns: 1fr;
    }

    .product__img {
        display: flex;
        width: 80%;
        margin: 0 auto;
    }
}

