
@media screen and (min-width: 600px) {
    .header {
        height: 3rem;
        display: flex;
        justify-content: center;
        border-bottom: 1px solid;
    }

    #logo {
        width: 9rem;
    }
    
    .nav__bar {
        background-color: rgb(255, 255, 255);
        font-family: 'Roboto', sans-serif;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }
    
    .item__list {
        display: flex;
        padding: 0 1rem;
    }
    
    .item__link {
        margin: 0 0.5rem;
        font-weight: 400;
        font-size: 1rem;  
        color: #000000;
    }

    #home{
        height: 500px;
    }


    /*hamburguer menu*/

    .container {
        display: none;
    }

    .logo__container {
        display: none;
    }
    
    .buttons__container{
        display: none;
    }


    /*PRODUCTS*/
    .products {
        grid-template-columns: repeat(3, 1fr);
    }

    .product {
        height: 90%;
    }

    .product__img_container{
        margin-bottom: 10%;
        width: 100%;
        height: 60%;
    }


    .product__img {
        height: 100%;
    }
    
      
}

@media screen and (max-width: 400px) {
    .products {
        grid-template-columns: 1fr;
    }

    .product__img {
        display: flex;
        width: 80%;
        margin: 0 auto;
    }
}